[project]
	description = Cross development Ubuntu vagrant VM for developing Cuda 6.0 applications for Jetson TK1 development board.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Beluch (tbeluch)
[access "refs/for/refs/*"]
	read = group user/Thomas Beluch (tbeluch)
	push = group user/Thomas Beluch (tbeluch)
	label-Code-Review = -2..+2 group user/Thomas Beluch (tbeluch)
	label-Verified = -1..+1 group user/Thomas Beluch (tbeluch)
	rebase = group user/Thomas Beluch (tbeluch)
	removeReviewer = group user/Thomas Beluch (tbeluch)
	submit = group user/Thomas Beluch (tbeluch)
[access "refs/heads/*"]
	read = group user/Thomas Beluch (tbeluch)
	create = group user/Thomas Beluch (tbeluch)
	push = +force group user/Thomas Beluch (tbeluch)
	pushMerge = group user/Thomas Beluch (tbeluch)
[access "refs/tags/*"]
	push = +force group user/Thomas Beluch (tbeluch)
	pushTag = group user/Thomas Beluch (tbeluch)
	pushSignedTag = group user/Thomas Beluch (tbeluch)
